<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/base.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <header>
        <figure>
            <img src="{{ asset('images/logo.jpg') }}" alt="Logo Knowledge">
            <figcaption>Formez-vous à votre rythme et obtenez vos certifications Knowledge Learning</figcaption>
        </figure>
        <nav>
            <a href="{{ path('app_home') }}">Accueil</a>
            <a href="#">Formations</a>
            {% if  is_granted('IS_AUTHENTICATED_FULLY')%}
                <a href="#">Certificats</a>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
            <a href="{{ path('app_login') }}">Se Connecter</a>
            <a href="{{ path('app_register') }}">S'inscrire</a>
            {% endif %}
        </nav>
    </header>

    {% include '_partials/_flash.html.twig'%}

    <body>
        {% block body %}{% endblock %}
    </body>

    <footer>
        <h2>Informations de la Société</h2>
        <p>Nom de la société: Knowledge Learning</p>
        <p>Adresse: Piccadilly Circus,75000 Paris, France</p>
        <p>Adresse de Contact: Knowledge-Learning@blabla.com</p>
        <p>&copy; 2025 Knowledge Learning - Tous droits réservés</p>
    </footer>
</html>
